bin/*
gen/*
*.class
*.log
.settings/org.eclipse.jdt.core.prefs
tools/local.properties
tools/emulator.properties
.DS_Store
*~
tests/bin/
tests/gen/
.idea/
*.iws
/build
/.gradle
local.properties
frostwire-android.iml
frostwire-android.ipr