<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Created by Angel Leon (@gubatron), Alden Torres (aldenml)
 * Copyright (c) 2011-2014, FrostWire(R). All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.frostwire.android" android:installLocation="auto"
	android:versionCode="149" android:versionName="1.3.8">

	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />

	<application android:name="com.frostwire.android.gui.MainApplication"
		android:allowBackup="true" android:icon="@drawable/app_icon"
		android:label="@string/application_label" android:theme="@style/Theme.FrostWire">

		<!-- activities -->

		<activity android:name="com.frostwire.android.gui.activities.MainActivity"
			android:label="@string/application_label">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- handle .torrent urls, files and magnets -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" android:pathPattern=".*\\.torrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="*" android:pathPattern=".*\\.torrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" android:scheme="http" android:host="*" android:pathPattern=".*\\.torrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" android:scheme="https" android:host="*" android:pathPattern=".*\\.torrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/x-bittorrent" android:scheme="http" android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/x-bittorrent" android:scheme="https" android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:pathPattern=".*\\.torrent" />
            </intent-filter>			

			<!-- share a file sent by another app -->
			<intent-filter>
				<action android:name="android.intent.action.SEND" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="*/*" />
			</intent-filter>

			<!-- share multiple files sent by another app -->
			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="*/*" />
			</intent-filter>
		</activity>
		<activity android:name="com.frostwire.android.gui.activities.WizardActivity"
			android:label="@string/application_label" android:screenOrientation="portrait" />
		<activity android:name="com.frostwire.android.gui.activities.PreferencesActivity"
			android:label="@string/activity_preferences_name" android:theme="@style/Preferences" />
		<activity android:name="com.frostwire.android.gui.activities.BrowsePeerActivity"
			android:label="@string/activity_browse_peer_name" />
		<activity android:name="com.frostwire.android.gui.activities.AboutActivity"
			android:label="@string/activity_about" />
		<activity
            android:name="com.frostwire.android.gui.activities.AudioPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/albums" />
                <data android:mimeType="vnd.android.cursor.dir/artists" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.frostwire.android.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
        </activity>

	    <activity
			android:name="com.frostwire.android.gui.activities.NoBTCWalletAvailableActivity" 
			android:label="@string/install_bitcoin_wallet">
		</activity>

        <!--  TransCommu -->
		<activity android:name="com.yasesprox.android.transcommusdk.TransCommuActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
		<activity android:name="com.yasesprox.android.transcommusdk.LoginActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
		<activity android:name="com.yasesprox.android.transcommusdk.CreateAccountActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
		<activity android:name="com.yasesprox.android.transcommusdk.TranslateActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>

		<!-- offercast -->
		<!-- 
		<activity
			android:name="com.offercast.android.sdk.devicereg.termsandconditions.TermsAndConditionsActivity"
			android:label="@string/application_label" android:screenOrientation="portrait" />
		<service android:name="com.offercast.android.sdk.system.service.OfferCastService" />
		<receiver android:name="com.offercast.android.sdk.system.receiver.OfferCastReceiver"
			android:enabled="true" android:exported="false">
			<intent-filter android:priority="1001">
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<meta-data android:name="ocm-application-id" android:value="8"/>
		<meta-data android:name="ocm-access-token" android:value="805d0103-c3ab-4421-9708-cdc6328247fb"/>
		 -->
			
	    <!--  appia activities -->
		<activity
		    android:name="com.appia.sdk.DisplayFullscreenAppWallActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Dialog" >
		</activity>
		<activity
		    android:name="com.appia.sdk.DisplayAppWallActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Dialog" >
		</activity>
		<activity
		    android:name="com.appia.sdk.DisplayBannerActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Dialog" >
		</activity>
		<service 
		    android:name="com.appia.sdk.AppiaReferrerService"
		    android:process=":com.appia.sdk.AppiaReferrerServiceProcess">
		</service>
		<service 
		    android:name="org.openudid.OpenUDID_service">
		    <intent-filter>
		        <action android:name="org.OpenUDID.GETUDID" />
		    </intent-filter>
		</service>
	    <!--  eof appia activities -->


		<!-- providers -->

		<provider android:name="com.frostwire.android.core.providers.DocumentsProvider"
			android:authorities="com.frostwire.android.core.providers.Documents" android:exported="true" />
		<provider android:name="com.frostwire.android.core.providers.SharingProvider"
			android:authorities="com.frostwire.android.core.providers.Sharing" android:exported="true" />
		<provider android:name="com.frostwire.android.core.providers.ApplicationsProvider"
			android:authorities="com.frostwire.android.core.providers.Applications" android:exported="true" />
		<provider android:name="com.frostwire.android.core.providers.TorrentsProvider"
			android:authorities="com.frostwire.android.core.providers.Torrents" android:exported="true"/>

		<!-- services -->

		<service android:name="com.frostwire.android.gui.services.EngineService"
			android:exported="false" />
		<service android:name="com.frostwire.gui.upnp.android.UPnPService"
			android:exported="false" />
		<service android:name="com.frostwire.android.market.BillingService"
			android:exported="false" />
		<service android:name="com.andrew.apollo.MusicPlaybackService" />

		<receiver android:name="com.frostwire.android.gui.services.EngineBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.frostwire.android.market.BillingReceiver">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:name = "com.amazon.inapp.purchasing.ResponseReceiver" >
	        <intent-filter>
            	<action android:name = "com.amazon.inapp.purchasing.NOTIFY"
                    android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
    	    </intent-filter>
        </receiver>
        
		<receiver android:name="com.andrew.apollo.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
	</application>
</manifest>
